/* Navbar.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  
  }
  
  nav {
    background-color: #000000; /* Dark blue-gray background color */
    overflow: hidden;
  }
  
  nav a {
   float: inline-start;
    display: block;
    color: #ecf0f1; /* Light gray text color */
    text-align: center;
    padding: 14px 20px; /* Increased padding for better spacing */
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
  }
  
  nav a:hover {
    background-color: #b00262; /* Highlight color on hover */
    color: #fff; /* White text color on hover */
  }
  
  /* Add a subtle shadow for depth */
  nav {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  